In [23]:
import pandas as pd
import numpy as np

In [24]:
ruta = r'c:\Users\ACER-PC\Downloads\Fallecidos_COVID_Colombia.csv'
df = pd.read_csv(ruta, sep=',')

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143125 entries, 0 to 143124
Data columns (total 23 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   fecha reporte web             143125 non-null  object
 1   ID de caso                    143125 non-null  int64
 2   Fecha de notificación         143125 non-null  object
 3   Código DIVIPOLA departamento  143125 non-null  int64
 4   Nombre departamento           143125 non-null  object
 5   Código DIVIPOLA municipio     143125 non-null  int64
 6   Nombre municipio              143125 non-null  object
 7   Edad                          143125 non-null  int64
 8   Unidad de medida de edad      143125 non-null  int64
 9   Sexo                          143125 non-null  object
 10  Tipo de contagio              143125 non-null  object
 11  Ubicación del caso            143125 non-null  object
 12  Estado                        143125 non-null  object
 13  Código ISO del país           94 non-null      float64
 14  Nombre del país               94 non-null      object
 15  Recuperado                    143125 non-null  object
 16  Fecha de inicio de síntomas   143125 non-null  object
 17  Fecha de muerte               143125 non-null  object
 18  Fecha de diagnóstico          143001 non-null  object
 19  Fecha de recuperación         0 non-null       float64
 20  Tipo de recuperación          0 non-null       float64
 21  Pertenencia étnica            143125 non-null  int64
 22  Nombre del grupo étnico       2295 non-null    object
dtypes: float64(3), int64(6), object(14)
memory usage: 25.1+ MB

# Limpieza de datos

In [26]:
# Cambiar el nombre de las columnas capitalizando la primera letra
df = df.rename(columns=lambda x: x.capitalize())

In [27]:
# lista de valores nulos presentes en el dataframe
df.isnull().sum()

Fecha reporte web                    0
Id de caso                           0
Fecha de notificación                0
Código divipola departamento         0
Nombre departamento                  0
Código divipola municipio            0
Nombre municipio                     0
Edad                                 0
Unidad de medida de edad             0
Sexo                                 0
Tipo de contagio                     0
Ubicación del caso                   0
Estado                               0
Código iso del país             143031
Nombre del país                 143031
Recuperado                           0
Fecha de inicio de síntomas          0
Fecha de muerte                      0
Fecha de diagnóstico               124
Fecha de recuperación           143125
Tipo de recuperación            143125
Pertenencia étnica                   0
Nombre del grupo étnico         140830
dtype: int64

In [28]:
df.head()

,Fecha reporte web,Id de caso,Fecha de notificación,Código divipola departamento,Nombre departamento,Código divipola municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código iso del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24 00:00:00,1556982,2020-12-22 00:00:00,76,VALLE,76001,CALI,74,1,F,...,NaN,NaN,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6,NaN
1,2020-12-24 00:00:00,1556986,2020-12-18 00:00:00,76,VALLE,76001,CALI,66,1,F,...,NaN,NaN,Fallecido,2020-12-11 00:00:00,2020-12-26 00:00:00,2020-12-22 00:00:00,NaN,NaN,6,NaN
2,2020-11-08 00:00:00,1137434,2020-11-05 00:00:00,11,BOGOTA,11001,BOGOTA,81,1,F,...,NaN,NaN,Fallecido,2020-10-31 00:00:00,2020-11-11 00:00:00,2020-11-07 00:00:00,NaN,NaN,6,NaN
3,2020-11-08 00:00:00,1137440,2020-11-03 00:00:00,63,QUINDIO,63001,ARMENIA,85,1,F,...,NaN,NaN,Fallecido,2020-10-31 00:00:00,2020-11-12 00:00:00,2020-10-31 00:00:00,NaN,NaN,6,NaN
4,2020-11-08 00:00:00,1137443,2020-11-04 00:00:00,11,BOGOTA,11001,BOGOTA,78,1,M,...,NaN,NaN,Fallecido,2020-10-31 00:00:00,2020-11-16 00:00:00,2020-11-07 00:00:00,NaN,NaN,6,NaN

In [29]:
# Llenado de valores nan con la moda o valor que mas se repite
df['Nombre del grupo étnico'] = df['Nombre del grupo étnico'].fillna(df['Nombre del grupo étnico'].mode()[0])
df['Nombre del grupo étnico'].value_counts(dropna=False)

Nombre del grupo étnico
Por definir                        141451
Sin Comunidad                         364
ZENU                                  240
PIJAO                                  93
PASTO                                  82
                                    ...
PIEDRAS BLANCAS                         1
U'WA                                    1
YORROLOKI                               1
SAN JUAN DE DIOS DE LAS PELONAS         1
KATANAMANA                              1
Name: count, Length: 315, dtype: int64

In [30]:
# Cambio de tipo de dato a columnas de fecha
columnas_fecha = ['Fecha de notificación', 'Fecha de muerte', 'Fecha de diagnóstico', 'Fecha de recuperación', 'Fecha de inicio de síntomas', 'Fecha reporte web']
for columnas in columnas_fecha:
    df[columnas] = pd.to_datetime(df[columnas], errors='coerce')

#Seleccionar columnas de tipo fecha aleatoriamente
df.select_dtypes(include='datetime64[ns]').sample(10)

,Fecha reporte web,Fecha de notificación,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación
21642,2021-06-03,2021-06-01,2021-05-23,2021-06-13,2021-06-01,NaT
126587,2022-01-03,2021-12-16,2021-12-11,2021-12-30,2021-12-27,NaT
28378,2021-05-12,2021-05-05,2021-05-04,2021-05-08,2021-05-05,NaT
99583,2021-07-06,2021-07-02,2021-06-20,2021-06-30,2021-07-03,NaT
62735,2021-03-06,2021-02-28,2021-02-15,2021-03-15,2021-03-02,NaT
116022,2021-05-14,2021-05-08,2021-05-01,2021-06-15,2021-05-12,NaT
142832,2021-10-24,2021-10-22,2021-10-15,2021-10-23,2021-10-21,NaT
43549,2020-11-03,2020-10-22,2020-10-19,2020-11-12,2020-11-02,NaT
15052,2021-04-15,2021-04-13,2021-04-09,2021-04-25,2021-04-13,NaT
8735,2021-05-13,2021-05-10,2021-05-03,2021-05-09,2021-05-11,NaT

In [31]:
df.select_dtypes(include='datetime')

,Fecha reporte web,Fecha de notificación,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación
0,2020-12-24,2020-12-22,2020-12-17,2020-12-30,2020-12-23,NaT
1,2020-12-24,2020-12-18,2020-12-11,2020-12-26,2020-12-22,NaT
2,2020-11-08,2020-11-05,2020-10-31,2020-11-11,2020-11-07,NaT
3,2020-11-08,2020-11-03,2020-10-31,2020-11-12,2020-10-31,NaT
4,2020-11-08,2020-11-04,2020-10-31,2020-11-16,2020-11-07,NaT
...,...,...,...,...,...,...
143120,2021-10-23,2021-10-20,2021-10-16,2021-10-22,2021-10-20,NaT
143121,2021-09-10,2021-09-07,2021-09-07,2021-09-29,2021-09-09,NaT
143122,2021-09-10,2021-09-08,2021-09-02,2021-09-25,2021-09-08,NaT
143123,2021-10-24,2021-10-23,2021-10-17,2021-10-27,2021-10-23,NaT
143124,2021-10-24,2021-10-22,2021-10-16,2021-11-03,2021-10-22,NaT

In [32]:
# Llenado de valores nan con una categoría desconocida
df['Código iso del país'] = df['Código iso del país'].fillna('Desconocido')
df['Nombre del país'] = df['Nombre del país'].fillna('Desconocido')
df['Fecha de diagnóstico'] = df['Fecha de diagnóstico'].fillna('N/A')
df['Tipo de recuperación'] = df['Tipo de recuperación'].fillna('N/A')

In [33]:
# Muestra valores listados en la columna 'Recuperado'
df['Recuperado'].value_counts()

Recuperado
Fallecido    142830
fallecido       295
Name: count, dtype: int64

In [34]:
# Correcion de valores de la columna 'Recuperado'
df['Recuperado'] = df['Recuperado'].str.replace('fallecido', 'Fallecido')
df['Sexo'] = df['Sexo'].str.replace('m', 'M')

In [35]:
df['Nombre departamento'] = df['Nombre departamento'].str.upper()

In [36]:
df.columns.tolist()

['Fecha reporte web',
 'Id de caso',
 'Fecha de notificación',
 'Código divipola departamento',
 'Nombre departamento',
 'Código divipola municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código iso del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

# Analisis estadistico

Factores clave que influyeron en las tasas de mortalidad, considerando aspectos temporales, geográficos y demográficos.
El país necesita una comprensión más profunda de cómo la pandemia afectó a diferentes regiones y grupos poblacionales

In [37]:
import seaborn as sns
import matplotlib.pyplot as plt

In [38]:
media_edades_sexo = df.groupby('Sexo')['Edad'].mean()
media_edades_sexo

Sexo
F    69.684692
M    67.693539
Name: Edad, dtype: float64

In [39]:
print('La Mediana de la edad es: ', df['Edad'].median())
print('La Moda de la edad es: ', df['Edad'].mode()[0])

La Mediana de la edad es:  70.0
La Moda de la edad es:  72

In [40]:
# Desviacion estandar para la muestra -> ddof = 1
print('Desviacion estandar columnas numericas: \n', df.std(numeric_only=True,ddof=1).round(3))
print('Promedio de las edades: ', df['Edad'].median())

Desviacion estandar columnas numericas:
 Id de caso                      1739698.736
Código divipola departamento       6045.118
Código divipola municipio         27409.352
Edad                                 15.573
Unidad de medida de edad              0.033
Pertenencia étnica                    0.646
dtype: float64
Promedio de las edades:  70.0

In [41]:
contagio_por_genero = df.groupby('Sexo')['Recuperado'].count()
contagio_por_genero

Sexo
F    56383
M    86742
Name: Recuperado, dtype: int64

In [42]:
tipo_contagio = df['Tipo de contagio'].value_counts()
tipo_contagio

Tipo de contagio
Comunitaria    112423
Relacionado     30608
Importado          94
Name: count, dtype: int64

In [46]:
# Guardando nuevo dataframe limpio
df.to_csv(r'c:\Users\ACER-PC\Downloads\fallecidos_covid_colombia_limpio.csv', sep=',', index=False)

In [48]:
df['Fecha de diagnóstico'].value_counts()

Fecha de diagnóstico
2021-06-09    752
2021-06-10    712
2021-06-17    681
2021-06-15    673
2021-06-08    673
             ...
2023-02-18      1
2023-02-13      1
2023-02-06      1
2022-04-24      1
2022-04-26      1
Name: count, Length: 1253, dtype: int64